name: MLflow CI

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build-and-train:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repo
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2. Setup Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      # 3. Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow scikit-learn pandas numpy

      # 4. Set MLflow Tracking URI
      - name: Set MLflow Tracking URI
        run: echo "MLFLOW_TRACKING_URI=mlruns" >> $GITHUB_ENV

      # 5. Run MLflow Project (INI YANG DINILAI)
      - name: Run MLflow Project
        run: |
          mlflow run MLProject --env-manager=local

      # 6. Upload MLflow artifacts (mlruns)
      - name: Upload MLflow artifacts
        uses: actions/upload-artifact@v3
        with:
          name: mlruns
          path: mlruns
